/*body {
    /*background-color: #0000ff;*/


    body {
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: rgb(255, 255, 255);
  }
  .Gi{
    color: rgb(0, 255, 204);
  }
  
  h1 {
      font-size: 30px;
      font-weight: bold;
  }
  
  h2{
      font-size: 1.5rem;
      font-weight:700;
  }
  
  header {
      background-color: rgb(179, 245, 234);
      padding: 1rem 2rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      position: sticky;
      top: 0;
  }

  
  header ul {
      display: flex;
      justify-content: center;
      gap: 1rem;
  }
  
  nav a {
      color: black;
      font-weight: 700;
      padding: .5rem 1rem;
  }
  
   section {
    min-height: 80vh;
      margin: 1rem;
      padding: 1rem;
      border-color: black;
      border-style: solid;
      border-width: 3px;
      border-radius: 10px;
  }
  
  p {
      margin-bottom: 1rem;
  }

  section#formaçãoAcademica{
    border: none;

  }

  .titulo-secao{
    text-align: center;
    margin-bottom: 2rem;
  }

  .card{
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 6pc rgba(0, 0, 0, a);
    list-style: none;
  }

  .titulo-card{
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;

  }

  .introdução-card{
    font-size: 1rem;
    color: gray;
  }

  .cards-em-coluna{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
  }

