
    body {
        height: 100vh;
        background:linear-gradient(to top, rgb(255, 255, 255) , rgb(0, 0, 0));
        overflow: hidden ;
    }

    .nome {
        width: 1000px;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; /* Opcional, para alinhar o conteúdo interno ao centro */
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
    }

    div p{
        top: 0%;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2.3rem;
        
    }
   

        .Linha{
            width: 300vh;
            height: 9vh;
            background-color: #070707;
            position: absolute;
            top: 0px;
            left: 0px;

        }
        
        .circulo {
            position: absolute;
            border-radius: 50%; /* Faz o círculo ser redondo */
            background-color: rgba(255, 255, 255, 0.1); /* Fundo transparente com leve opacidade */
            animation: moveCircle 10s infinite ease-in-out; /* Animação dos movimentos */
        }
        
        @keyframes moveCircle {
            0% {
                transform: translateY(0) scale(1);
                opacity: 0.5;
            }
            50% {
                transform: translateY(-50px) scale(1.2);
                opacity: 0.8;
            }
            100% {
                transform: translateY(0) scale(1);
                opacity: 0.5;
            }
        }
         
        .Sobre{
            text-decoration: none;
            color: aliceblue;
            position: absolute;
            top: 3%;
            left: 2%;
            font-family: 'Courier New', Courier, monospace;
            border: 0px;
            
        }
        .Sobre:hover{
            font-size: 20px;
            transition: font-size 0.5s ease
        }

        .Contato{
            text-decoration: none;
            color: aliceblue;
            position: absolute;
            top: 3%;
            left: 16%;
            font-family: 'Courier New', Courier, monospace;
            border: 0px;
        }

        .Contato:hover{
            font-size: 20px;
            transition: font-size 0.5s ease
        }

   
    
    
    

   